<!--
<h1>Reviews</h1>

<a href="/reviews/new">New Review</a>

{{#each reviews}}
  <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
  <small>{{this.movieTitle}}</small>
{{/each}}



<h1>Reviews</h1>

<div class="row">
  {{#each reviews}}
    <div class="col-md-3">
      <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
      <small>{{this.movieTitle}}</small>
    </div>
  {{/each}}
</div>
-->

<!--
  <a href="/reviews/{{this._id}}">{{this.title}}</a>

  <a href="/movies/{{this.movieId}}/reviews/{{this._id}}">{{this.title}}</a>
-->


<h1>Reviews</h1>

<div class="row">
  {{#each reviews}}
  <div class="card col-md-3">
    <div class="card-body">
      <h2 class="card-title"><a href="/movies/{{this.movieId}}/reviews/{{this._id}}">{{this.title}}</a></h2>
      <h3 class="card-subtitle mb-2 text-muted">{{this.movieTitle}}</h3>
    </div>
  </div>
  {{/each}}
</div>